<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   
    <!-- Bootstrap -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
       {{ title }}
    </h1>
    <img width="300" alt="Logo" src="../assets/logo/assurance_logo.jpg">
  </div>
    <h1>Hello, world!</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">Home</div>
        <div class="col-sm-3">Product</div>
        <div class="col-sm-3">Services</div>
        <div class="col-sm-3">About Us</div>
      </div>
    </div>
  </body>
</html>